body {
    color: white;
    background: rgb(74, 238, 230);
    margin: 0px;
    font-family: "Edu AU VIC WA NT Guides", sans-serif;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(70, 240, 211);
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
}